.intro h1 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 3rem;
}

.intro p {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.intro .link {
  font-size: 15px;
  font-weight: 400;
  text-align: end;
  cursor: pointer;
  margin-top: 2rem;
  padding-right: 50px;
}
